<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Tarefas</title>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Lista de Tarefas</h1>
<table>
    <thead>
    <tr>
        <th>Nome da Tarefa</th>
        <th>Custo (R$)</th>
        <th>Data Limite</th>
        <th>Ordem de Apresentação</th>
        <th>ID</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tarefa : ${tarefas}">
        <td th:text="${tarefa.nome}"></td>
        <td th:text="${tarefa.custo}"></td>
        <td th:text="${tarefa.dataLimite}"></td>
        <td th:text="${tarefa.ordemApresentacao}"></td>
        <td th:text="${tarefa.id}"></td>
        <td>
            <a th:href="@{/tarefas/edit/{id}(id=${tarefa.id})}">Editar</a>
            <button th:onclick="'deleteTarefa(' + ${tarefa.id} + ')'">Excluir</button>
        </td>
    </tr>
    </tbody>
</table>
<a href="/tarefas/new">Incluir Nova Tarefa</a>
</body>
</html>
